p {
	line-height: 1.8;
}

.section__heading {
	margin-inline: auto;
	margin-block: 1em;
	font-size: 2.6em;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section__abstract {
	font-size: 1.3em;
}

.section__heading__icon {
	width: 100%;
	text-align: center;
}

.section__heading__icon::before,
.section__heading__icon::after {
	position: absolute;
	content: "";
	background: var(--fallback-gradient);
	height: 0.2rem;
	width: 45%;
	bottom: 0;
	top: 50%;
}

.section__heading__icon::before {
	left: 0;
}

.section__heading__icon::after {
	right: 0;
}

.cta-btn {
	width: fit-content;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 0.5em;
	border: 2px solid transparent;
	border-radius: 0.5em;
	transition: all 0.4s ease-in-out;
}

.cta-btn:hover,
.cta-btn:focus {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
}

.secondary-btn {
	width: fit-content;
	padding: 2em;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	background-color: var(--secondary-color);
	border-radius: 0.3em;
	transition: all 0.4s ease-in-out;
}

.secondary-btn:hover,
.secondary-btn:focus {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: transparent;
}
