:root {
	--fallback-color: rgba(174, 134, 37, 1);
	--accent-color: rgb(128, 0, 0);
	--primary-color: rgb(0, 45, 45);
	--secondary-color: rgba(240, 255, 251, 1);
	--product-heading-bg-color: rgb(243, 243, 231);
	--fallback-gradient: linear-gradient(
		90deg,
		rgb(151, 114, 29) 0%,
		rgb(244, 240, 181) 0%,
		rgb(229, 191, 85) 100%
	);
}
* {
	box-sizing: border-box;
	position: relative;
	user-select: none;
	padding: 0;
	margin: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	min-height: 100vh;
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}
body {
	font-family: "Philosopher", sans-serif;
	min-height: 100vh;
	line-height: 1;
	background-color: #f0fffb;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,
input,
textarea {
	outline: none;
	border: none;
}
a {
	text-decoration: none;
}
p {
	line-height: 1.5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
label {
	text-transform: capitalize;
}
textarea {
	resize: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
