:is(img, svg) {
	display: block;
}

img {
	width: 100%;
}

*::-webkit-scrollbar-track {
	background-color: var(--secondary-color);
}

*::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.7rem;
}

*::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: var(--fallback-color);
	border-radius: 0.5rem;
}

section {
	padding: 1rem;

	@media screen and (min-width: 992px) {
		padding: 2rem;
	}
}

body {
	font-family: "Philosopher", sans-serif;
}

/* -------------------------- navbar section ------------------------------- */

.overlay {
	width: 100%;
	height: 0;
	position: absolute;
	opacity: 0;
	z-index: 5;
	background-color: rgb(0, 0, 0, 1);
	transition: height 0.1s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay--active {
	height: 100%;
	opacity: 0.5;
}

.navbar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem 1rem;
	z-index: 10000;
	transition: all 0.25s ease-in-out;

	.navbar__logo {
		display: flex;
		align-items: center;
		margin-inline-end: 3rem;

		.navbar__logo__word1 {
			font-size: 4rem;
			color: transparent;
			background: var(--fallback-gradient);
			background-clip: text;
		}

		.navbar__logo__word2 {
			color: var(--secondary-color);
			font-size: 1.5rem;
		}
	}

	.navbar__list {
		width: 20rem;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		top: 0;
		right: -100%;
		height: 100vh;
		padding: 2.5rem 2rem;
		background: var(--accent-color);
		opacity: 0;
		transition: right 0.4s ease-in-out, opacity 0.3s 0.1s ease-in-out;

		.navbar__links {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.navbar__link {
				width: fit-content;
				color: var(--secondary-color);
				font-size: 1.1rem;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 0;
					bottom: -40%;
					height: 0.1rem;
					background: var(--fallback-gradient);
					transition: all 0.3s ease-in-out;
				}

				&:hover::after {
					width: 100%;
				}
			}
		}
	}

	.navbar__burger {
		width: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
		padding: 0.5rem;
		cursor: pointer;
		background-color: transparent;
		border-radius: 0.2rem;

		.navbar__burger__bar {
			display: block;
			width: 100%;
			height: 0.2rem;
			background: var(--fallback-gradient);
			border-radius: 0.5rem;
		}

		.navbar__burger--opened {
			margin-block-end: 2rem;
		}

		.navbar__burger__bar-1--close {
			transform: translateY(0.75rem) rotate(45deg);
		}

		.navbar__burger__bar-2--close {
			opacity: 0;
		}

		.navbar__burger__bar-3--close {
			transform: translateY(-0.75rem) rotate(-45deg);
		}
	}

	.navbar__list--active {
		right: 0;
		opacity: 1;
	}

	@media screen and (min-width: 992px) {
		justify-content: initial;
		background-color: transparent;

		.navbar__list {
			display: contents;

			.navbar__links {
				flex-direction: row;
			}
		}

		.navbar__burger {
			display: none;
		}
	}
}

.navbar.navbar--highlight {
	background-color: var(--accent-color);
}

/* -------------------------- header section ------------------------------- */
.header {
	height: 100vh;
	background-color: var(--primary-color);

	.header__img {
		height: 100%;
		object-fit: cover;
		filter: grayscale();
	}

	.header__heading {
		position: absolute;
		top: 45%;
		left: 10%;

		p,
		cite {
			background: var(--fallback-gradient);
			color: transparent;
			background-clip: text;
			font-size: 3.5rem;
			font-weight: 600;
		}

		cite {
			font-size: 2.5rem;
		}
	}
}

/* -------------------------- about section ------------------------------- */

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	background-color: var(--secondary-color);

	.about__heading {
		color: var(--primary-color);
	}

	.about__img {
		width: 20rem;
		mix-blend-mode: multiply;
		animation: up-down 1.5s ease-in-out infinite forwards;
	}
}

/* -------------------------- products section ------------------------------- */

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	gap: 3rem;

	.products__svg {
		background-color: var(--primary-color);
	}

	.products__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		.products__list__item {
			width: fit-content;
			max-width: 21rem;
			padding: 2rem 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 1.5rem;
			text-align: center;
			overflow: auto;
			color: var(--primary-color);
			background-color: var(--secondary-color);
			transition: box-shadow 0.4s ease-in-out;

			&:hover {
				box-shadow: 0.7rem 0.7rem 0.5rem var(--fallback-color);
			}

			.products__list__item__img {
				border-radius: 0.5rem;
				filter: grayscale();
			}

			.products__list__item__info--wrapper {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				height: 100%;
				padding-block: 2rem;
				background-color: var(--secondary-color);

				.products__list__item__heading {
					padding: 0.5rem;
					font-size: 1.5rem;
					font-weight: 600;
					color: var(--fallback-color);
				}

				.products__list__item__price {
					font-weight: 600;
					font-size: 1.2rem;
				}

				.products__list__item__summery {
					font-size: 1rem;
				}
			}

			.products__list__item__cta {
				width: 100%;
			}
		}
	}

	@media screen and (min-width: 600px) {
		.products__list {
			flex-direction: row;
		}
	}

	@media screen and (min-width: 1200px) {
		.products__heading,
		.products__abstract {
			align-self: flex-start;
		}

		.products__abstract {
			text-align: start;
		}

		.products__list {
			flex-wrap: nowrap;

			.products__list__item:nth-child(1) {
				margin-block-start: 15%;
			}

			.products__list__item:nth-child(3) {
				margin-block-start: -15%;
			}
		}
	}

	@media screen and (min-width: 1444px) {
		.products__heading,
		.products__abstract {
			align-self: center;
		}

		.products__abstract {
			text-align: center;
		}
	}
}

/* -------------------------- testimonials section ------------------------------- */

.testimonials__svg {
	background-color: var(--primary-color);
}

.testimonials {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 3rem;
	background-color: var(--secondary-color);

	.testimonials__img {
		width: 22rem;
		mix-blend-mode: multiply;
		animation: up-down 1.5s ease-in-out infinite forwards;
	}

	.testimonials__cards {
		width: 90%;
		max-width: 60rem;
		max-height: 35rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		padding-block: 2rem;
		overflow: auto;

		.testimonials__card {
			min-width: 20rem;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			gap: 1.5rem;
			overflow-y: auto;
			border-radius: 1rem;
			background-color: var(--primary-color);

			.testimonials__card__author {
				font-size: 1.5rem;
				font-weight: 600;
				background: var(--fallback-gradient);
				color: transparent;
				background-clip: text;
			}

			.testimonials__card__feedback {
				color: var(--secondary-color);
				font-size: 0.9rem;
			}
		}
	}
}

/* -------------------------- contact section ------------------------------- */

.contact__svg {
	background-color: var(--primary-color);
}

.contact-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	gap: 1rem;
	background-color: var(--primary-color);
	color: var(--secondary-color);

	.contact-us__section-info--wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.contact-us__form {
		width: 100%;
		max-width: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 1rem;
		border-radius: 1rem;
		color: var(--secondary-color);

		.contact-us__form__set {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;

			.contact-us__form__set__title {
				width: 100%;
				padding-block: 1.5rem;
				font-size: 1.5rem;
				font-weight: 600;

				&::after {
					display: block;
					content: "";
					width: 100%;
					height: 0.1rem;
					margin-block-start: 0.6rem;
					background: var(--fallback-gradient);
					border-radius: 0.5rem;
				}
			}

			.contact-us__form__field-wrapper {
				width: 100%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: 1rem;

				.contact-us__form__label {
					font-size: 1.1rem;
					font-weight: 600;
				}

				.contact-us__form__input {
					padding: 1rem;
					border-radius: 0.5rem;
					color: var(--secondary-color);
					background-color: var(--primary-color);
					border: 0.1rem solid var(--secondary-color);
					transition: all 0.2s ease-in-out;

					&::placeholder {
						color: var(--secondary-color);
					}
				}
			}
		}

		.contact-us__form__btn {
			width: 100%;
		}
	}

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: flex-start;

		.contact-us__form {
			padding: 0 3rem;
		}

		.contact-us__section-info--wrapper,
		.contact-us__form {
			width: 50%;
		}
	}
}

/* -------------------------- footer section ------------------------------- */

.footer__svg {
	background-color: var(--primary-color);
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem;
	gap: 1.5rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);

	.footer__heading {
		font-size: 2rem;
	}

	.footer__social-media__item {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		font-size: 1.1rem;

		a {
			color: var(--primary-color);
		}

		&:hover {
			font-weight: 600;
		}
	}

	.footer__social-media {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.footer__website-maker a {
		font-weight: 600;
		color: var(--accent-color);
	}
}

/* -------------------------- animations ------------------------------- */

@keyframes up-down {
	0%,
	100% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
	}
}
