/*custom variables*/
:root {
    --header-color: #ff0099;
}

/*global styling*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    animation-name: onload-circle-effect;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    background: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 25px;
}

/*circle effect on load for the body*/
@keyframes onload-circle-effect {
    from {
        clip-path: circle(0%);
    }

    to {
        clip-path: circle(100%);
    }
}

/*------------------navbar general styling------------------*/
/*-------------START--------------*/
#nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: auto;
    background: #000;
}

#navbar {
    width: 100%;
    height: auto;
    font-weight: bold;
    background: transparent;
    padding: 16px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

#menu-list {
    height: 100%;
}

#navbar #menu-list a {
    text-decoration: none;
    border: 2px solid transparent;
    color: #FFF;
    width: 100%;
    height: 100%;
    padding: 0.7em;
    padding-left: 16px;
}

#navbar #menu-list a:hover,
#navbar #menu-list a:focus {
    background: rgb(0, 0, 0);
    border: 2px solid aquamarine;
    color: white;
}

#burger {
    display: none;
    background-color: transparent;
    justify-content: flex-start;
}

#burger a {
    text-decoration: none;
    color: var(--header-color);
    font-size: 17px;
    padding: 0.6em;
    padding-right: 13px;
}

/*------------END------------*/

/*adjusting navabr elements on small screens*/
@media screen and (max-width: 901px) {
    #navbar {
        justify-content: space-between;
        padding: 0;
    }

    #burger {
        display: flex;
    }

    .menu-item {
        display: none;
    }

    #menu-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/*-----------END------------*/
/*adjusting nav links on large screens*/
/*----------START---------*/

@media screen and (min-width: 901px) and (max-width: 1201px) {
    #navbar #menu-list a {
        font-size: 20px;
        margin: 0px 12px;
    }
}

/*----------END---------*/


/*adjusting nav links on X large screens*/
/*----------START---------*/

@media screen and (min-width: 1201px) {
    #navbar #menu-list a {
        font-size: 20px;
        margin: 0px 12px;
    }
}

/*----------END---------*/

/*adjusting header background image*/
/*----------START---------*/

#img-container {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px;
}

#header-img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

/*------------END------------*/


/*adjusting header image caption*/
/*-------------------START--------------------*/

#header-img-caption {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    color: #fff;
    z-index: 1;
    text-transform: capitalize;
}

#header-img-caption h1 {
    margin: 0;
}

#header-img-caption span {
    color: var(--header-color);
    text-shadow: 0 3px 4px var(--header-color);
}

/*-------------------END--------------------*/


/*general styling for the how it works section*/
/*----------START------------*/
#how-it-works {
    padding: 1.6rem 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}

#iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#iframe-container iframe {
    position: absolute;
    left: 10%;
    top: 0;
    right: 10%;
    width: 80%;
    height: 85%;
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}

#iframe-description {
    padding: 0 7%;
    padding-top: 50px;
    padding-bottom: 4%;
}


#iframe-description h1 {
    font-family: 'Neonderthaw', cursive;
    color: var(--header-color);
    text-shadow: 0 6px 10px var(--header-color);
}


/* adjusting font size on small screens of the "about" contaienr*/
/*---------------START--------------*/

@media screen and (max-width: 769px) {
    #iframe-description p {
        font-size: 14px;
    }
}

/*-------------END-------------*/


/*PLANS CONTAINER GENERAL STYLING*/
/*--------------START------------*/
#plans-container {
    background: rgb(231, 0, 164);
    background: radial-gradient(circle, rgba(231, 0, 164, 1) 0%, rgba(45, 0, 27, 1) 100%);
    text-align: center;
    display: grid;
}

#plans-container h2 {
    grid-area: plans-header;
    font-family: 'Neonderthaw', cursive;
    text-shadow: #323232 0px 6px 5px;
    ;
    color: #eee;
}

.card-container img {
    width: 100%;
}

#card-1 {
    grid-area: card-1;
}

#card-2 {
    grid-area: card-2;
}

#card-3 {
    grid-area: card-3;
}

.card-container {
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(46, 46, 46);
    padding: 0;
    background-color: #eee;
    transition: all 0.3s ease-in;
}


.card-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 10px 0 #000;
}

.card-container .card-H {
    font-weight: bold;
    border-bottom: 0.1rem solid rgb(126, 0, 94);
    padding: 0.6em;
    width: 100%;
    height: auto;
}

.card-container figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


.card-container .card-H p {
    font-family: 'Neonderthaw', cursive;
    font-size: 127%;
    font-weight: bold;
    margin: 0px;
}

figcaption span {
    font-weight: bold;
    display: inline-block;
    padding: 2%;
}

.card-container figcaption {
    line-height: 23px;
}

/*--------------END---------------*/


/* small screens (phones)*/
/*--------------START--------------*/

@media screen and (max-width: 635px) {
    #plans-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.2fr repeat(3, 1fr) 0.5fr;
        padding: 10% 11%;
        grid-row-gap: 3%;
        grid-template-areas: "plans-header plans-header plans-header plans-header plans-header"
            "card-1 card-1 card-1 card-1 card-1"
            "card-2 card-2 card-2 card-2 card-2"
            "card-3 card-3 card-3 card-3 card-3";
    }

    .card-container {
        width: 75%;
        margin: 0 auto;
    }

    .card-container figcaption {
        padding: 30px;
    }

    figcaption span {
        padding-bottom: 3%;
        font-size: 16px;
    }
}

/*--------------END---------------*/

/*adjusting and different style for the cards on tablets and meduim screens*/
/*-----------------------START-----------------------*/

@media screen and (min-width: 635px) {
    #plans-container {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-gap: 28px;
        padding: 60px 0;
        grid-template-areas: "plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header plans-header"
            ". card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3 .";
    }

    figcaption {
        font-size: 15px;
        padding: 25px;
    }
}

/*--------------------END----------------------*/

/*adjusting figcaption and font size of cards on meduim and large screens*/
/*------------------------START-----------------------------*/

@media screen and (min-width: 1439px) {
    figcaption {
        font-size: 18px;
        padding: 25px;
    }

    .card-container .card-H p {
        font-size: 22px;
    }
}

/*------------------------END-----------------------------*/


/*GENERAL STYLING FOR THE FORM*/
/*---------STRAT--------*/

#buy-form-section {
    width: 100%;
    margin: 0 auto;
    padding: 50px 6%;
    background-color: #eee;
}

#buy-form-section h2 {
    font-family: 'Neonderthaw', cursive;
    text-shadow: -2px 5px 4px rgb(14 69 62);
    font-size: 2em;
    font-weight: bold;
    padding: 5%;
    text-align: center;
    color: #000;
}

#buy-form-container {
    background: rgb(100, 234, 216);
    background: linear-gradient(0deg, rgb(78 182 167) 0%, rgb(22 85 70) 100%);
}

#buy-form {
    display: grid;
    background: no-repeat;
    margin: 0px;
    padding: 22px;
    box-shadow: 0 0 1.6em rgb(68 68 68);
    width: 100%;
}

#buy-form div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    color: white;
    font-weight: normal;
    padding: 3%;
}

#buy-form-section input {
    padding: 3%;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in;
    outline: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#buy-form-section input:focus {
    border: 2px solid #be0072;
}

#buy-form input:invalid {
    background-color: rgb(255, 96, 96);
}

#buy-form #submit-btn {
    width: 172px;
    padding: 0.5em;
    border: 2px solid transparent;
    border-radius: 1.5em;
    outline: none;
    margin: 20px auto;
    background-color: #000;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

#buy-form #submit-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px 0 #ff0099;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

/*------------------END------------------*/


/*adjusting form container on small screens*/
/*--------------START------------*/

@media screen and (max-width: 471px) {
    #buy-form {
        padding: 10px;
        padding-top: 35px;
    }

    #buy-form div {
        padding: 13px;
    }

    #buy-form div input {
        height: 33px;
    }
}

/*--------------END------------*/


/*adjusting form container on tablets and medium screens*/
/*--------------START------------*/

@media screen and (min-width: 471px) and (max-width: 675px) {
    #buy-form {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 6px;
        padding: 30px;
        padding-top: 40px;
    }

    #buy-form div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 18px 12px;
    }

    .half-spaned-element {
        grid-column: span 3;
    }

    .full-spaned-element {
        grid-column: span 6;
    }

    #buy-form div input {
        width: 102%;
        height: 38px;
    }

    #buy-form div label {
        font-size: 17px;
    }

    #buy-form #submit-btn {
        width: 174px;
        height: auto;
        grid-column: 2 / 6;
    }
}

/*--------------END------------*/


/*adjusting the main form on tablets*/
/*---------------START----------------*/

@media screen and (min-width: 675px) and (max-width: 901px) {
    #buy-form-section #buy-form-container {
        margin: 0;
    }
}

/*---------------END----------------*/

/*another form style for meduim to large screens*/
/*--------------START------------*/
@media screen and (min-width: 675px) {
    #buy-form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #buy-form-container {
        display: flex;
        margin: 0 10%;
    }

    #buy-form-section #side-form-img {
        background-image: url(../images/form-side-img.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
    }

    #buy-form {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 6px;
        padding: 30px;
        padding-top: 40px;
        box-shadow: initial;
    }

    #buy-form div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 13px 21px;
    }

    .half-spaned-element {
        grid-column: span 3;
    }

    .full-spaned-element {
        grid-column: span 6;
    }

    #buy-form div input {
        width: 102%;
        height: 38px;
    }

    #buy-form div label {
        font-size: 17px;
    }

    #buy-form #submit-btn {
        cursor: pointer;
        width: 174px;
        height: auto;
        grid-column: 2 / 6;
    }
}

/*--------------END------------*/


/*general styling footer*/
/*--------------START------------*/

#footer {
    background-color: #000;
    color: #ffffff;
    text-align: center;
}

#footer p::before {
    display: block;
    content: " © 2022";
    width: 100%;
}

footer p {
    width: 60%;
    margin: 0 auto;
}


/*--------------END------------*/

/*footer in small screens*/
/*-----------------STRAT----------------*/

@media screen and (max-width: 511px) {
    #footer {
        padding: 25px;
    }
}

/*--------------END------------*/


/*adjusting padding and font size on tablets and medium screens*/
/*---------------------------START-----------------------*/

@media screen and (min-width: 511px) {
    #footer {
        padding: 30px;
    }
}

/*---------------------------END-----------------------*/